@font-face {
	font-family:BalsamiqSans ;
	src: url("fonts/BalsamiqSans-Bold.ttf");
}
@font-face {
	font-family: "BalsamiqSansItalic";
	src: url("fonts/BalsamiqSans-Italic.ttf");
}
@font-face {
	font-family: "BalsamiqSansRegular";
	src: url("fonts/fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
	font-family: "BalsamiqSansBoldItalic";
	src: url("fonts/BalsamiqSans-BoldItalic.ttf");
}
@font-face {
	font-family: "DMMonoMediumItalic";
	src: url("fonts/DMMono-MediumItalic.ttf");
}
@font-face {
	font-family: "DMMonoMedium";
	src: url("fonts/DMMono-Medium.ttf");
}
@font-face {
	font-family: "DMMonoRegular";
	src: url("fonts/fonts/DMMono-Regular.ttf");
}
@font-face{
	font-family: "DMMonoLight";
	src: url("fonts/DMMono-Light.ttf");
}
@font-face {
	font-family: "DMMonoItalic";
	src: url("fonts/DMMono-Italic.ttf");
}
@media print {
	.mobile-aside{
		display: none;
	}
	.header{
		display: none;
	}
	form{
		display: none;
	}
	
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	border:none;
	outline: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	list-style: none;
}

a:active,a:visited{
	background:none;
	color:none;
}
.p10{
	padding: 10px;
}
.pd10{
	padding:10px 0;
}
.pd5{
	padding:5px;
}
.m2{
	margin:2px;
}
.m10{
	margin:10px 5px;
}
.ma{
	margin:10px auto;
}
.m20{
	margin: 40% 0;
}
.m50{
	margin:50% 0;
}
.flx{
	display: flex;
}
.flex-line{
	display:flex-inline;
}
.flx-c{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
}
.flx-r{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.flx-rv{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.flx-cl{
	display:inline-flex;
	flex-direction: column;
	justify-content: space-between;
}
.flx-rl {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.rd{
	border-radius:5px;
}
.sh{
	box-shadow:4px 6px 8px rgba(0,0,0,0.2);
}
.blur{
	filter:blur(10px);
}
.fxd{
    position: fixe;
}
.b-block{
	display: block;
	text-align: center;
	margin:auto 0;
}
.flow-x{
	overflow-x:scroll;
}
.flow-y{
	overflow-y: scroll;
}
.tl{
	text-align:left;
}
.tr{
	text-align: right;
}
.tc{
	text-align: center;
}
.t{
    position: absolute;
	top:0;
}
.l{
	left:0;
}
.r{
	right: 0;
}
.abs{
    position: absolute;
}
.r-20{
    right:-25%;
    transition:right 0.5s linear;
}
.b{
	position:fixed;
	bottom: 0;
}
.bg-profile{
	background-image:url("profile.gif");
	background-size: cover;
	width:100%;
	height:150px;
}
.none{
	display:none;
}
.l-dot{
	list-style-type:dot;
}

l-bullet{
	list-style-type:bullet;
}
.gfont{
	font-family: 'BalsamiqSans', cursive;
}
.gfont2{
	font-family: 'DMMonoMedium',sans-serif;
}
.gfont3{
	font-family: 'DMMonoItalic',sans-serif;
}
.gfont4{
	font-family: 'DMMonoRegular',sans-serif;
}
.gfont5{
	font-family: 'DMMonoLight',sans-serif;
}
.gfont6{
	font-family: 'DMMonoMediumItalic',sans-serif;
}
.gfont7{
	font-family: 'BalsamiqSansItalic',sans-serif;
}
.gfont8{
	font-family: 'BalsamiqSansBoldItalic',sans-serif;
}
.gfont9{
	font-family: 'BalsamiqSansRegular',sans-serif;
}
.gfont10{
 	font-family:;
}
.rotate-C {
    animation-name: rotateC;
    /*animation-direction: alternate-reverse;*/
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateC {
    from {transform: rotate(0deg);}

    to {transform: rotate(360deg);}
}
.rotate-A{
	animation-name: rotateA;
	animation-direction: alternate-reverse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes rotateA{
	from{transform: rotate(0deg);}
	to{transform: rotate(200deg);}
}
.loader{
	transition: all 0.1s linear;
}
.loader:hover{
	font-size: 30pt;
}
.popup{
	position:;
	background-color: rgba(0,0,0,0.8);
	/*box-shadow:4px 6px 8px rgba(0,0,0,0.2);*/
	/*border:1px solid white;*/
	margin:2px;
	border-radius:5px;
	padding:5px 5px;
	width:100%;
	color:grey;
	font-size:5pt;
	font-family: monospace;
}
.bb-grey{
    border-bottom:0.5px solid grey;
}
.db{
	display:block;
}
.dl{
	display: inline-block;
}
.vs-hidden{
	visibility: hidden;
}
.quantityForms{
	
}
.t-100{
    top:100%;
}
.t-95{
    top:95%;
}
.t-90{
    top:90%;
}
.t-85{
    top:85%;
}
.t-80{
    top:80;
}
.t-75{
    top:75%;
}
.t-70{
    top:70%;
}
.t-65{
    top:65%;
}
.t-60{
    top:60%;
}
.t-55{
    top:55;
}
.t-50{
    top:50%;
}
.t-45{
    top:45%;
}
.t-40{
    top:40%;
}
.t-35{
    top:35%;
}
.t-30{
    top:30;
}
.t-25{
    top:25%;
}
.t-20{
    top:20%;
}
.t-15{
    top:15%;
}
.t-10{
    top:10%;
}
.t-5{
    top:5%;
}
.bg-default{
	background-color:#DDDDDD;
}
.bg-custom{
	background-color:#42445A;
}
.bg-custom2{
	background-color:#25262E;
}
.bg-white{
	background-color:#fff;
}
.bg-black{
	background-color:#000;
}
.bg-dark{
	background-color:#252629;
	color:#fff;
}
.bg-green{
	background-color:#05B008;
}
.bg-orange {
    background-color: #F28A1C;
}
.bg-crimson{
    background-color:crimson;
}
.bg-blue{
	background-color:#0966CD;
}
.bd-l{
	border-left:1px solid #000;
}
.bd-grey{
    border:1px solid grey;
}
.bd-dark{
    border:1px solid #252729;
}
.bd-blue{
	border:1px solid #0966CD;
}
.bd-white{
	border:1px solid #fff;
}
.bd-yellow{
    border:1px solid #E09C00;
}
.bd-green{
	border:1px solid #05B008;
}
.bd-tb{
	border-bottom:1px solid #fff;
}
.bg-gdark {
    background-color: #1E5142;
}
.bg-glight{
	background-color:#2AD12A;
}
.bg-yellow{
    background-color:#E09C00;
}
.bg-maroon{
    background-color:#5B0E0F;
}
.click-grey:hover{
    background-color:#DDDDDD;
    color:grey;
}
.c-grey{
	color:grey;
}
.c-blue{
	color:#0966CD;
}
.c-purple{
	color:#B609B0;
}
.c-yellow{
	color:#DFC908;
}
.c-green{
	color:#05B008;
}
.c-white{
	color:#fff;
}
.c-default{
	background-color:#DDDDDD;
}
.c-orange{
	color:#F28A1C;
}
.c-alert{
	color:crimson;
}
.c-sky{
	color:#48E0F9;
}
.c-white{
	color:#fff;
}
.c-dark{
	color:#252629;
}
.c-gdark{
	color:#1E5142;
}
.c-glight{
	color:#06F32B;
}
.c-brown{
	color:#7E5C45;
}
.c-bdark{
}
.c-bligt{
	color:#8E522A;
}
.bd-black{
	border:1px solid black;
}
.pt8{
	font-size:8pt;
}
.pt11{
	font-size: 11pt;
}
.pt15{
	font-size:15pt;
}
.pt14{
	font-size: 14pt;
}
.pt12{
	font-size:12pt;
}
.pt13{
	font-size:13pt;
}
.pt25{
	font-size:25pt;
}
.pt20{
	font-style: 20pt;
}
.pt30{
	font-style: 30pt;
}
.pt50{
	font-size: 50pt;
}
.mt-5{
	margin-top:20px;
}
.mt-20{
	margin-top:16%;
}
.mt-25{
    margin-top:25%;
}
.mt-30{
    margin-top:30%;
}
.m-2{
	margin:2px;
}
.m-3{
	margin:3px;
}
.m-4{
	margin:4px;
}
.m-5{
	margin:5px;
}
.m-6{
	margin:6px;
}
.m-7{
	margin:7px;
}
.m-8{
	margin:8px;
}
.m-9{
	margin:9px;
}
.m-10{
	margin:10px;
}
.m30{
	margin: 30%;
}
.m2{
	margin:2%;
}
.m5{
	margin: 5%;
}
.m10{
	margin: 10%;
}
.m15{
	margin: 15%;
}
.w100{
	width:100%;
}
.w90{
	width:90%;
}
.w80{
	width:80%;
}
.w70{
	width:70%;
}
.w60{
	width:60%;
}
.w50{
	width:50%;
}
.w40{
	width:40%;
}
.w30{
	width:30%;
}
.w20{
	width:20%;
}
.w10{
	width:10%;
}
.h100 {
    height: 100vh;
}

.h90 {
    height: 90vh;
}

.h80 {
    height: 80vh;
}

.h70 {
    height: 70vh;
}

.h60 {
    height: 60vh;
}

.h50 {
    height: 50vh;
}

.h40 {
    height: 40vh;
}

.h30 {
    height: 30vh;
}

.h20 {
    height: 20vh;
}

.h10 {
    height: 10vh;
}
.h8{
    height:8vh;
}
.h7{
    height:7vh;
}
.h5{
    height:5vh;
}
.z10{
    z-index:10;
}
.z9{
    z-index:9;
}
.z8{
    z-index:8;
}
.z7{
    z-index:7;
}
.z6{
    z-index:6;
}
.z5{
    z-index:5;
}
.z4{
    z-index:4;
}
.z3{
    z-index:3;
}
.z2{
    z-index:2;
}
.z1{
    z-index:1;
}
@media screen and (max-width:500px){
	.header{
		padding:5px 2px;
		text-align: center;
		position: fixed;
		top:0;
		z-index: 4;
		
	}
	.header.push{
	    width:20%;
	}
	.burger{
		/*padding:15px 5px;*/
	}
	.burger span{
		background-color:#fff;
		height: 2px;
		width:25px;
		margin:0 22px;
		border-radius: 5px;
	}
	header form{
		padding:5px 0;
		text-align:center;
		width:100%;
	}
	header form input{
		background-color:#DDDDDD;
		padding:5px 0;
		width:150px;
		
		text-align: center;
		font-size:14pt;
	}
	header button{
		background-color:#DDDDDD;
		
		display:block;
		margin:auto 2px;
		text-align: center;
		padding: 5px 0;
		font-size: 15pt;
	}
	header form i {
		
	
		
	}
	header .logo{
		
		display:block;
		margin:auto 2px;
		text-align: center;
		padding: 5px 0;
		font-size: 15pt;
	}
	header .logo i {
		font-size: 25pt;
		font-weight: lighter;
	}
	.forms {
		background-color: #DDDDDD;
		width:100%;
		height: 100vh;
	}
	.loginForm{
		margin: 50px;
		background-color: #fff;
		padding:20px 20px;
		
	}
	.form{
		width: 100%;
	}
	.inputField{
		border:1px solid #067DFF;
		border-radius: 5px;
		text-align: center;
		width:100%;
		padding: 10px 0;
		margin:10px 0;
		background: none;
	}
	.lb{
		color:grey;
		font-size:10pt;
	}
	.lb i{
		margin:0 10px;
	}
	.btn{
		font-size: 12pt;
		padding:5px 20px;
		
	}
	.btn-login{
		background-color:#0966CD;
		color:#fff;
		margin:5px 5px;
		
	}
	
	.user-io i{
		border-radius: 50%;
	}
	.ico-avatar{
		display:inline-block;
		border-radius: 50%;
		width:120px;
		height:120px;
		margin:10% 5%;
	}
	.avatar{
		
		border-radius:50%;
	}
	.mobile-aside{
		position:fixed;
		height:100vh;
		width: 70%;
		margin-left:-100%;
		transition: margin-left 0.5s linear;
		z-index: 5;
	}
	.mobile-aside ul{
		height: 250px;
		overflow-y:auto;
	}
	.mobile-aside .category{
		border-top:1px solid grey;
	}
	.mobile-aside ul li{
		margin-left:10%;
		margin:5px 0;
		padding: 5px;
		border-radius:5px;
	}
	.mobile-aside ul a{
		color:#fff;
		font-size: 8pt;
	}
	.mobile-aside.active{
		margin-left: 0;
	}
	/*main{
		width: 100%;
		margin-right:-90%;
	}*/
	.mobile-aside .contact-options{
		margin-left:-100%;
		transition:all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		border-bottom:1px solid #fff;
		height: 0;
	}
	.mobile-aside .contact-options.active{
		margin-left:10px;
		height:300px;
	}
	.mobile-aside .contact-options li:hover > a,.contact-options li:hover,.mobile-aside ul li:hover,.mobile-aside li:hover > a{
		color:black;
		background-color:#fff;
		margin-top: 10px;
	}
	.preview img {
		width:50px;
		height: 50px;
	}
	
	.mobile-aside .banner{
		
	}
	.settings-card{
		margin:10px auto;
		border-radius:5px;
	}
	.settings-card ol{
		margin-left:10%;
		
	}
	.settings-card ol li{
		margin:5px 0;
		
	}
	.settings-card ol li span{
		font-size: 8pt;
		margin:10%;
		
	}
	.feedback-form{
		width:70%;
		margin: 10% auto;
	}
	.feedback-form textarea{
		height:150px;
		width:100%;
		padding:10px;
		border-radius:10px 0 10px 0;
	}
	.feedback-form form .btn{
		display: block;
		margin:5% auto;
	}
	/*.products div {
		margin:5px;
		width: 60%;
		padding: 10px;
		background-color:#dddddd;
	}*/
	.box {
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: space-evenly;
	    overflow-x: auto;
	    border:1px solid blue;
	    flex-basis:auto;
	  }
	
	 .box div {
	    width: 100px;
	    height: 200px;
	    font-size: 25pt;
	    margin: 0 5px;
	  }
}


.dialog{
	left:25%;
	top:20%;
	position: absolute;
	text-align:center;
	padding: 50px;
	display:none;
}
.dialog i{
	margin:30px 0;
	
}
.dialog.active{
	display:block;
}
main{
	
}
.test{
	background:pink;
}
.dialog-two{
	position: absolute;
	top:40%;
	left:30%;
}